# Server Configuration
PORT=3000
USE_MOCK_DATA=true 
NODE_ENV=development

# PostgreSQL Database URLs
IDENTITY_DB_URL=postgresql://neondb_owner:npg_YObRAv9W0INf@ep-ancient-band-amaq4dw4-pooler.c-5.us-east-1.aws.neon.tech/identity_db?sslmode=require&channel_binding=require
EXCEPTION_DB_URL=postgresql://neondb_owner:npg_YObRAv9W0INf@ep-ancient-band-amaq4dw4-pooler.c-5.us-east-1.aws.neon.tech/exception_db?sslmode=require&channel_binding=require
WORKFLOW_DB_URL=postgresql://neondb_owner:npg_YObRAv9W0INf@ep-ancient-band-amaq4dw4-pooler.c-5.us-east-1.aws.neon.tech/workflow_db?sslmode=require&channel_binding=require
EDUCATION_CLAIM_DB_URL=postgresql://neondb_owner:npg_YObRAv9W0INf@ep-ancient-band-amaq4dw4-pooler.c-5.us-east-1.aws.neon.tech/educationClaim_db?sslmode=require&channel_binding=require
EMPLOYMENT_CLAIM_DB_URL=postgresql://neondb_owner:npg_YObRAv9W0INf@ep-ancient-band-amaq4dw4-pooler.c-5.us-east-1.aws.neon.tech/employmentClaim_db?sslmode=require&channel_binding=require
AUTOMATION_QUEUE_DB_URL=postgresql://neondb_owner:npg_YObRAv9W0INf@ep-ancient-band-amaq4dw4-pooler.c-5.us-east-1.aws.neon.tech/automation_queue_db?sslmode=require&channel_binding=require
VERIFICATION_DB_URL=postgresql://neondb_owner:npg_YObRAv9W0INf@ep-ancient-band-amaq4dw4-pooler.c-5.us-east-1.aws.neon.tech/verification_db?sslmode=require&channel_binding=require
VERIFICATION_EVIDENCE_DB_URL=postgresql://neondb_owner:npg_YObRAv9W0INf@ep-ancient-band-amaq4dw4-pooler.c-5.us-east-1.aws.neon.tech/verification_evidence_db?sslmode=require&channel_binding=require

# Redis Configuration
REDIS_URL=redis://default:zxnoFLUyoaOAAAaeVhqKTUwspmpyZlFs@metro.proxy.rlwy.net:35587

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=true
